<form class="mb-3">
  <div *ngFor="let stepSegment of items; index as index">
    <div *ngIf="stepSegment.smallView; else elseBlock">
      <!--      <label style="visibility: hidden" class="font-weight-bold">Canal Intermediario - Nombre de Categoría (Ejemplo: diseñador, banquetes,-->
      <!--        etc)</label>-->
      <div [style]="width">
        <div class="row mb-3">
          <div class="col-11">
            <div class="card">

              <div class="card-body">
                {{stepSegment.name}}
              </div>
            </div>
          </div>
          <div class="col-1 mt-3">
            <span (click)="edit(stepSegment)" class="material-icons" style="font-size: 36px">edit</span>
          </div>
        </div>
      </div>

    </div>
    <ng-template #elseBlock>
      <div class="card">
        <div class="card-header text-center">
          <div class="row text-white" style="background-color: #515151">
            <label class="font-weight-bold">Canal Intermediario - Nombre de Categoría (Ejemplo: diseñador, banquetes,
              etc)</label>
          </div>
          <div class="row">
            <input [(ngModel)]="stepSegment.name" [ngModelOptions]="{standalone: true}" class="form-control"
                   placeholder="Ingrese Texto"
                   type="text">
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
            <label class="font-weight-bold">Atiende otros Segmentos / Tiers S/N</label>
          </div>
          <div class="col">
            <input [(ngModel)]="stepSegment.serveOtherSegments" [ngModelOptions]="{standalone: true}"
                   class="form-control"
                   placeholder="Ingrese Texto"
                   type="text">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label class="font-weight-bold">Margen Bruto estimado del Canal %:</label>
          </div>
          <div class="col">
            <input [(ngModel)]="stepSegment.estimatedGrossMargin" [ngModelOptions]="{standalone: true}"
                   class="form-control"
                   placeholder="Ingrese Texto"
                   type="text">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label class="font-weight-bold">Venta suya promedio como % del Canal </label>
          </div>
          <div class="col">
            <input [(ngModel)]="stepSegment.averageSaleCanal" [ngModelOptions]="{standalone: true}" class="form-control"
                   placeholder="Ingrese Texto"
                   type="text">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label class="font-weight-bold">En general firma contratos S/N:</label>
          </div>
          <div class="col">
            <input [(ngModel)]="stepSegment.signContracts" [ngModelOptions]="{standalone: true}" class="form-control"
                   placeholder="Ingrese Texto"
                   type="text">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label class="font-weight-bold">En general asigna Cuentas y o territorios S/N:</label>
          </div>
          <div class="col">
            <input [(ngModel)]="stepSegment.assignsAccountsTerritories" [ngModelOptions]="{standalone: true}"
                   class="form-control"
                   placeholder="Ingrese Texto"
                   type="text">
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row text-white" style="background-color: #515151">
          <label class="font-weight-bold">Canales Mas Grandes</label>
        </div>
        <table class="table table-bordered text-center">
          <thead>
          <tr>
            <th class="align-middle" colspan="col"> Nombre</th>
            <th class="align-middle" colspan="col"> ¿Comparte Datos? S/N</th>
            <th class="align-middle" colspan="col"> Exclusivo S/N</th>
            <th class="align-middle" colspan="col"> Territorio Asignado</th>
            <th class="align-middle" colspan="col"> Contrato S/N</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let canal of stepSegment.canalDetail; index as index">
            <td>
              <input [(ngModel)]="canal.name" [ngModelOptions]="{standalone: true}" class="form-control"
                     placeholder="Ingrese Información"
                     type="text">
            </td>
            <td>
              <input [(ngModel)]="canal.shareData" [ngModelOptions]="{standalone: true}" class="form-control"
                     placeholder="Ingrese Información"
                     type="text">
            </td>
            <td>
              <input [(ngModel)]="canal.exclusive" [ngModelOptions]="{standalone: true}" class="form-control"
                     placeholder="Ingrese Información"
                     type="text">
            </td>
            <td>
              <input [(ngModel)]="canal.assignedTerritory" [ngModelOptions]="{standalone: true}" class="form-control"
                     placeholder="Ingrese Información"
                     type="text">
            </td>
            <td>
              <input [(ngModel)]="canal.contract" [ngModelOptions]="{standalone: true}" class="form-control"
                     placeholder="Ingrese Información"
                     type="text">
            </td>
            <td>
              <span (click)="addCanalDetail(stepSegment.canalDetail)" class="material-icons" style="font-size: 36px">add_circle</span>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="text-center">
          <button (click)="save(stepSegment)" class="btn btn-lg  text-white mr-3 mb-3 " style="background: #ff8380">
            Guardar Paso
            Intermedio
          </button>
        </div>
      </div>
      </div>
    </ng-template>
  </div>
</form>
